.productscol {
    list-style-type: none; 
    display: block; 
    columns: 4 350px; 
    column-rule: 1px dotted #ddd; 
    column-fill:auto; 
    height: 80%;
}

#tableheader {
    padding-left: 40px;
    margin-top: 16px;
}

#tableheader > span {
    width: 130px;
    display: inline-block;
}

a {
    margin-left: 100px;
}
